---
import styles from "./styles.module.scss";
import { Phone, Mail, Facebook, Instagram, ExternalLink } from "lucide-astro";
---

<footer class={styles.footer} id="contact">
  <div class={styles.content}>
    <h3 class={styles.logo}>Chavez Boxing Gym</h3>
    <div class={styles.links}>
      <div class={styles.column}>
        <h3>Location</h3>
        <address>2952 N 16th St, Phoenix, AZ 85016</address>
        <h3>Hours</h3>
        <ul class={styles.hours}>
          <li class={styles.day}><span>Mon-Fri:</span> 2 - 9:30pm</li>
          <li class={styles.day}><span>Sat</span> 12 - 4:30pm</li>
          <li class={styles.day}><span>Sun</span> Closed</li>
        </ul>
      </div>
      <div class={styles.column}>
        <h3>Contact</h3>
        <a href="tel:602-277-5662" class={styles.link}>
          <Phone />
           623-206-2639
        </a>
        <a class={styles.link}>
          <Mail />
           chavez_boxing@yahoo.com
        </a>
        <a
          class={styles.link}
          class={styles.link}
          href="https://www.chavezyouth.org/" 
          target="_blank"
          rel="noopener noreferrer"
        >
          <Facebook />
           Facebook
        </a>
        <a
          class={styles.link}
          class={styles.link}
          href="https://www.chavezyouth.org/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Instagram />
           Instagram
        </a>
      </div>
      <div class={styles.column}>
        <h3>Other</h3>
        <a
          class={styles.link}
          href="https://www.chavezyouth.org/"
          target="_blank"
          rel="noopener noreferrer"
          >Chavez Youth Foundation
          <ExternalLink />
        </a>
      </div>
    </div>
  </div>
  <div class={styles.copyright}>
    <small>© {new Date().getFullYear()} Chavez Boxing Gym</small>
    <a
      href="https://rajbir.io/"
      target="_blank"
      rel="noopener noreferrer"
      class={styles.link}
    >
      <small>Like my work?</small>
      <ExternalLink />
    </a>
  </div>
</footer>
